
div.logo {

	
	margin-top: 17%;
	font-size: 50pt;
	letter-spacing: -3pt;
	

	
}

input{
	width: 50%;
	margin-left: 25%;
	margin-top: 0%;
	height: 25pt;
}

input::placeholder {
	font-size: 15pt;
}











