
div.logo {	
	margin-top: 17%;
	font-size: 70pt;
	letter-spacing: -3pt;
	position: relative;
	height: 100pt;
	
}

input{
	width: 50%;
	margin-top: -20%;
	height: 22pt;
	position: relative;
	font-size: 15pt;

}

input::placeholder {
	font-size: 15pt;
}

div.button-container button {
    background-color: #e7e7e7; /* Green */
    color: black;
    padding: 15px 20px;
    font-size: 16px;
	margin-top: 2%;		
}










